.card-container {
  display: flex;
  flex-direction: column;
  background-color: #607D8B;
  border: 1px none grey;
  box-shadow: 1px -16px teal;
  border-radius: 20px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
